body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 30px;
}

.self p {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  margin-top: 30px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  margin: 20px auto;
  max-width: 800px;
  max-width: 80%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 15px;
  font-size: 18px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #007bff;
}

/* スキルセットの見出し */
h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* スキルセットのリスト */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
  font-size: 18px;
}

/* ポートフォリオの見出し */
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

/* ポートフォリオのリスト */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-list ul li {
  width: calc(33.33% - 32px);
  margin: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.portfolio-list ul li a {
  display: block;
  text-decoration: none;
  color: #333;
}

.portfolio-list ul li a:hover {
  color: white;
}

.portfolio-list ul li img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

ul li h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 16px;
  text-align: center;
}

ul li p {
  font-size: 14px;
  margin: 0 16px 16px;
  text-align: justify;
}

.margin {
  margin-bottom: 50px;
}

.company {
  font-weight: bold;
}

.title {
  font-style: italic;
}

.date {
  font-size: 14px;
  color: gray;
}

section {
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  background-color: aliceblue;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

/* ダークモード用のスタイル */
body.dark-mode {
  background-color: black;
  color: white;
}

body.dark-mode a {
  color: white;
}
